# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nicholas Gilbert
email = nickgilbert2@gmail.com

[alias]
    ci = commit
    cim = commit -m
    civ = commit -v
    co = checkout
    cp = cherry-pick
    rb = rebase
    st = status
    br = branch
    brdel = branch -d
    brdelo = push origin --delete
    a = add
    puo = push -u origin
    puos = push -u origin --set-upstream
    rao = remote add origin
    rro = remote remove origin
    rsuo = remote set-url origin
    lg=log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
    undo=checkout --
    new-feat = checkout -b
[push]
    default = simple
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
